name: script-tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@v6

      # Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*

      # Install dependencies
      - name: Install dependencies
        run: npm ci
        working-directory: ./Tests/Updater.Service

      # Invoke tests
      - name: Invoke tests
        run: npm test
        working-directory: ./Tests/Updater.Service
